extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.topic-page.py-4
    .row.mb-4
      .col-12
        +box-head(pageTitle)

    .row
      each topic in topics
        .col-12.col-md-6.mb-4
          .topic-card.card.h-100.shadow-sm.border-0
            img.card-img-top.topic-card-image(src=topic.avatar, alt=topic.title)
            .card-body.d-flex.flex-column
              h5.card-title #{topic.title}
              p.card-text #{topic.description}
              a.btn.btn-primary.mt-auto.align-self-start(href=`/songs/${topic.slug}`) Xem chi tiết
