.sider
  .inner-menu
    ul
      li
        a(href=`${prefixAdmin}/dashboard`) Tong quan
      li
        a(href=`${prefixAdmin}/topics`) Quan ly chu de
      li
        a(href=`${prefixAdmin}/songs`) Quan ly bai hat
      li
        a(href=`${prefixAdmin}/singers`) Quan ly ca si
      li
        a(href=`${prefixAdmin}/roles/permissions`) Phan quyen
      li
        a(href=`${prefixAdmin}/accounts`) Tai khoan admin
      li
        a(href=`${prefixAdmin}/users`) Tai khoan user
      li
        a(href=`${prefixAdmin}/settings/general`) Cai dat chung

